{% extends "mijnhuis.html" %}
{% block title %}Real Grammar{% endblock title  %}
{% block head %}
    {{ super() }}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<style>
.important {
    color:rgb(102, 102, 255);
}
body {
    background: MintCream;
}
.ad {float: left;}
th, .topic {
    font-family:Vivaldi, cursive;
    text-align:center;
}

table {margin:auto;}

</style>
{% endblock head %}

{% block content %}
 <table>
        <thead>
            <tr>
                <th colspan=3>Images</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xap1/t51.2885-15/e35/1170304_698520743617316_1245804205_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/s640x640/sh0.08/e35/12141958_965207406885776_225859981_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/12139693_1710506855846391_1996500576_n.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11326337_935396039839934_407082061_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11849203_987728554620637_1945995349_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11950573_1643721242569418_1017228548_n.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11906256_1008537039196346_183820914_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/12080429_836911926423787_1846039345_n.jpg" />
                </td>
                <td>
                <img height="100" width="100" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11909166_465460873634384_1222759081_n.jpg" />
                </td>
            </tr>
	</table>
<div class="story">
<h1 class="topic">#1: The Real Art of Grammar</h2>
<!--
<p>
Grammar is the whole system and structure of a language or of languages in general,
usually taken as consisting of syntax and morphology (including inflections) and
sometimes also phonology and semantics.
</p><br />
<p>Language is the method of human communication, either spoken or written,
consisting of the use of words in a structured and conventional way.
</p><br />
<p>“Without knowing the force of words, it is impossible to know more.”
</p><br />
<p>Through language we can connect with other people and make sense of our experiences.
</p><br />
<p>Language is absolutely central to your learning: without it, you cannot make sense or communicate your understanding of a subject.
</p><br />
<p>Learning is the acquisition of knowledge or skills through experience, study, or by being taught.
</p>
<br />
You have often heard me speak of an oracle or sign which comes to me ….
This sign I have had ever since I was a child.
The sign is a voice which comes to me and always forbids me to do something which I am going to do,
but never commands me to do anything, and this is what stands in the way of my being a politician.
https://www.youtube.com/watch?v=JBAdI1mUX2E
https://www.youtube.com/watch?v=-qzS3etpTeY
monetize = ["sponsorship","membership","banners","deep-links"]
https://books.google.com/books?id=90VUqU8pSEYC&pg=PA38&lpg=PA38&dq=sophroniscus+meaning&source=bl&ots=MzysWn6emf&sig=WY-VlIiHRx4qrjo3WE-DPF-CWDo&hl=en&sa=X&ved=0CDkQ6AEwBWoVChMIso20kee4yAIVCo8NCh3SPAsP#v=onepage&q=sophroniscus%20meaning&f=false
-->
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<br /><br />
<p class="introductionOfProtagonist">
<span style="font-family:Vivaldi, cursive; font-size:100px;">A</span>
</p>

<!--
<pre style="">
 wish I could gather up all the clouds so they could never again obscure the light of the stars."<br />
"That's the stupidest thing I've ever heard in my life, Xanthippe. We need clouds too."<br />
Almost as soon as the sex had ended, Socrates began to go back to his intellectual thinking.
Nearly as soon as Socrates' state of mind had changed, his girlfriend followed suit.
"You weren't saying that when we were making love!"<br />
"Xanthippe, that makes even less sense than the crap about the clouds."
<br /><br />

Xanthippe (narration):
We stand in awe before that which cannot be seen
and we respect with every fibre that which cannot be explained...
I sense a strong spirit energy nearby.

Thug #1:
You got a death wish pal?!
Nobody jumps one of my boys for no reason
and lives to tell about it!

Socrates:
hmm

Thug #1:
THat's all you got to say?!

Thug #2:
Lil Monty's down! We gotta help him!

Thug #3:
Are you crazy? I'm not taking on that psycho!

Socrates:
Now listen up you pond scum!
Do you see that?!
First question, what do you think that is?
You! The one in the middle! Answer!

Thug #2:
Wait! You talking to me?
I guess somebody left those flowers here for some
kid who died here.

Socrates:
Correct!
Now, the next question. That vase over there, why is
it lying on its side?

Thug #3:
I guess one of us knocked it over when we were
skateboarding through here. We didn't-

Socrates:
You guys catch on fast!
Now go and apologize otherwise the next time
the flowers will be for you!

Thugs #1 #2 #3:
Ahh! We're sorry!

Socrates:
There. That oughta keep those punks from showing
their ugly faces around here.
Sorry about all of that.
I'll bring you by some new flowers tommorrow.

Young girl ghost:
Thankyou for coming to my defense.
I think I'll finally be able to rest peacefully.

Socrates:
No problem. It's the least I could do. After
all you deserve to rest in peace.

Narration (Socrates):
My name is Socrates Sophroniscus. I'm 15 years old,
so I'm a high school student. My family runs a
medical clinic here in town.
Maybe it's because we are entrusted with the
live of the living. I'm not sure...
But for as long as I can remember, I've been able
to see the souls of the dearly departed.

Socrates:
I'm home

Dad:
Hayaa! You let your guard down! Always stay alert
when you enter a room and you're late for dinner again!

Socrates:
Come on! Is that any way to welcome your son after he
just risked his life to help a spirit find peace!

Dad:
Silence! Oh so it's the ghost's fault now is it?! I suppose
it's the ghost who left your room a mess!
When are you going to show some discipline!?
Just because you see ghosts and I dont doesn't make
you boss of this household!

Helen:
Hey stop the fighting you two!
Come over here and eat your dinner!

Clytemnestra:
Let 'em fight. More rice for me.

Helen:
That's not very nice Clytemnestra.

Socrates:
I gotta tell ya dad. For any normal, healthy high school
kid a 7 o'clock cufew is really uncool.

Clytemnestra:
Speaking of uncool, you have a new one.

Socrates:
How long have you been there?
Take a hike will ya! Damn pest!

Clytemnestra:
Aha. I'm so done.
Poor Socrates. Dad or ghost it's always something.

Helen:
I think he's kinda lucky to be able to see ghosts.
I sorta sense their prescence sometimes but that's about it.

Clytemnestra:
I don't see what the big deal is with ghosts.
I don't even believe in 'em.

Helen:
Clytemnestra! I don't even get how you could say
something like that.
I thought you had the power to see spirits too!

Clytemnestra:
I'm in permanent denial.
Just seeing 'em doesn't make me beleive in 'em.

Ghost man:
Brrrr! That's cold!

Socrates:
Like my dinner...

Dad:
You dropped your guard again!
Ahahaha....Gotcha...
No charge for the lesson...

Socrates:
Nevermind dinner. I'm going to my room.

Helen:
Wait, Socrates..

Clytemnestra:
You sure have a way with kids dont ya?

Dad:
M-me? What did I do?

Helen:
Socrates is kinda having a rough time right now.

Clytemnestra:
Yea, he said he is seeing more spirits than ever before.

Dad:
What?! Why would he talk about these things
with you two,instead of coming to his own dad?
That doesn't make sense!

Clytemnestra:
Sure it does. For one thing you're over 40.
For another, emotionally you are still on
a preschool level Dad. Admit it.

Dad:
Oh my dear wife! Maybe it's because
they're hitting puberty but our daughter is
so cold to me. What do I do?! What do I do?!

Clytemnestra:
Well for starters you may wanna take down that poster.

TV reporter:
The incident occured just outside of Katakura station
just after 7.30am, as the moring commute was getting into full swing.
Witnesses reported hearing a loud crash and feeling the
ground shake beneath their feet. The entire area has been cordoned off.

Socrates:
Hey.

Helen:
Good morning Socrates.

Socrates:
Morning. Where's Dad?

Clytemnestra:
Early meeting. Said he'd be late tonight too.

Socrates:
Again, huh?
hm?

Helen:
Somethng bad happen?

Socrates:
That's near here.

Socrates:
Hello!
huh?

Street woman:
Listen do you hear that sound?

Street man:
What sound?
I don't hear anything except you.
Ahhh!

Socrates:
Wow. What the hell is that?!

Young girl ghost:
Help me!

Socrates:
Run! Hurry!

Young ghost girl:
What is that thing?

Socrates:
I don't know!
Come on! We've gotta move!
Wow...Hey! Hold on!

Random man on street:
What was that?
The sidewalk is burning. There must
have been another explosion.

Socrates:
Who was she? I can't make any sense of what
happened out there today.
What the hell are you doing here?
Ah! Put that thing away you're not slicing me up!
Hey!

Xanthippe:
It's getting closer. I feel it.

Socrates:
Who are you anyway and what do you want?!
If you think you're a burglar you're not a very good one!
For starters you shouldn't talk to yourself!

Xanthippe:
You kicked me, but I can't be seen by
ordinary humans.
Are you saying you can see me?

Socrates:
Well considering that was my foot
I just planted in your behind.
You tell me.

Xanthippe:
You are the one I saw in town earlier.
I remember.

Socrates:
Boy, nothing gets by you.

Xanthippe:
How very starnge.
You look normal but you must be
defective in some way.

Socrates:
I'll show you defective!
Who are you?

Xanthippe:
You want to know?
Then I'll tell you.
I'm a soul reaper.

Young ghost girl:
Oh! Oh no not again!

Socrates:
Alright.
So you're something called a soul reaper.

Xanthippe:
Mmm

Socrates:
And you're telling me you were sent
here on a mission by something
called the soul society.

Xanthippe:
Mmm

Socrates:
To deal with demons like the ones
we saw on the steet today.

Xanthippe:
Mhmm

Socrates:
That's all believeable to me.
Along with flying pigs and the tooth fairy!

Xanthippe:
How dare you! Why wouldn't you believe in
soul reapers?
When you just admitted you can see spirits!

Socrates:
I've never seen or heard of soul reapers before
and frankly your whole story is too incredible.
I dont believe in anything I can't see.

Xanthippe:
Well, you see me don't you?

Socrates:
Well that's true and I'd agree to the fact
your not human. But why dont you play
your little soul reaper game somewhere else?
Ok little brat? Run along.

Xanthippe:
So I'm a brat, am I?
Bukudo Number 1 Strike!

Socrates:
I can't move!
What did you do to me?!

Xanthippe:
Paralysis. Iv'e used what's called
a keido on you. It's a high level incantation
only we soul reapers can cast.
It's useless to struggle against it.
You're just wasting your energy.
I may appear young to you but I have
lived nearly 10 of your lifetimes.
I would kill you on the spot for your insults,
if it were not against my orders.
So you little brat, be grateful.

Socrates:
You've got nerve.
Ah! It's that ghost from yesterday.

Xanthippe:
And now...

Ghost man:
No, please don't .
I don't want to be sent to the underworld.

Xanthippe:
You needn't worry becasue you are bound
for a better place. The soul society.
There your soul will be at peace.

Socrates:
Where did he go?
What did you do to him?

Xanthippe:
I sent his spirit to the soul society.
It's one of the main responsibilities
of a soul reaper. People here sometimes
call it 'passing on'.
Now I'll explain to you why I'm here and
I'll use small words so you can understand.
There are two types of spirits in this world.
The first kind are the good spirits called
"wholes" the ghosts that you see are usually
this kind.
The second kind are evil spirits known as "hollows".
The hollows attack people living or dead,
im order to devour their souls.
Any questions before I go on?

Socrates:
First of all, who do your drawings
suck so bad?
Ahh! You'll pay for this!

Xanthippe:
Let us continue with our lesson Monsieur.
These are the main jobs for soul reapers.
Frist to lead "wholes" to the soul society
through console, as I just did.
The second, to exorcise the "hollows"
whenever we find them.

Socrates:
That hollow with the bug body this afternoon,
Why was it chasing that girl?

Xanthippe:
That I don't know.
We are yet to understand what motivates
the hollows to do the things they do.

Hollow:
I can smell it. An especially tatsy soul.
It's nearby. Along with the smell
of a soul reaper.

Socrates:
Waht was that?!

Xanthippe:
One thing we do know,
there is still a second hollow
prowling somewhere nearby.

Socrates:
Then what the hell are you waiting for?!
Go out and kill it!

Xanthippe:
I would but I can't seem to detect its location.
Usually I have no trouble finding a hollow that's
close by but here it's as if my sense are jammed by
some powerful force-

Socrates:
What are you deaf?!
There's something howling out there!
That sound has to be a hollow!

Xanthippe:
Something howling?
What do you mean? Huh?
Now I hear it.
Definitely a hollow.

Socrates:
That's what I've been telling you.

Helen:
Waaaaah!

Socrates:
That's Helen! Hey! Wait!
Untie me!

Xanthippe:
This spirit pressure is among the strongest
I have ever felt.
How could I have not have sensed it earlier?
Huh?

Helen:
Socrates...Ah...

Socrates:
Helen! What happened?

Helen:
Ah..Socrates..Clytemnestra's been..Socrates..
You've gottah help her...

Socrates:
Hey! You gotta let me go!
Hey! Gotta break free...

Clytemnestra:
Ahh! Put me down!

Xanthippe:
Saty out of it!

Socrates:
Dammit!

Xanthippe:
How can he be on his feet when
he's under my spell?
Fool! You'll only get in the way

Socrates:
Shut up!
Clytemnestra!

Xanthippe:
Stop! THe keido is too strong for
a human to break if you keep trying
you'll only cause damage to you soul!
What? he's breaking the keido that's impossible!
Don't do it!

Clytemnestra:
Socrates get me out of here!

Socrates:
Clytemnestra...

Hollow:
Iv'e found you!

Socrates:
Clytemnestra! No!

Xanthippe:
Don't worry she'll be alright.
The hollow left without devouring
either of your sister's souls.

Socrates:
Are you sure?

Xanthippe:
Yes, it seems it was seeking a
specific soul to eat.
One with a much higher concentration
of spiritual energy. In fact the hollow
earlier was hungry for the same soul too,
not the girl's.

Socrates:
But why?

Xanthippe:
For some reason most of your spiritual energy
was hidden deep within you. Until now when you
needed it to save you sister. That;s why I didn't
sense anything unusual about you when I arrived.
It also explains why the hollows haven't come after you.
The spirit energy you have bottled up inside you has
started to pour out when you made contact with that
young girl's ghost. As a result, you soul became
exposed. Those two hollows today detected your soul
through that girl and they have been using her to track
it down. Which means the holows are really after you.

Socrates:
Those things...want me?

Xanthippe:
Its back! Get out of here!

Socrates:
No! So the vicious attacks on that poor girl
were because of me?

Xanthippe:
Well that's one way to look at it.

Socrates:
And now both of my sisters could
wind up dead and the whole thing is my fault?

Helen:
Ah help us Socrates

Clytemnestra:
Do something Socrates!

Xanthippe:
Stop!

Socrates:
Coward! Quit attacking others!
If it's my soul you want come and get it!
Fight me one on one you ugly bastard!

Xanthippe:
Oh no!

Socrates:
Soul Reaper!

Xanthippe:
You- are a fool.
How could you have possibly thought,
you were any match for a hollow?
Did you really think everything would
be over if you gave him your soul?
One soul doesn't satisfy them for long.
If you don't stop interfering we are all going
to end up as its food. I'm too injured to fight.
Do you- want to save your family?

Socrates:
Of course I do!
If there's a way then tell me how!

Xanthippe:
It will only be temporary but
you must become a soul reaper yourself.

Socrates:
What?

Xanthippe:
You must take my soul sword and run it
through the centre of your being so that I
may pour my powers into you.
I can't gurantee you will live but if it doesn't
work it won't matter.

Socrates:
Then give me that blade, Soul reaper.

Xanthippe:
My name is Xanthippe. Xanthippe Lamprocles.

Socrates:
And my name is Socrates Sophroniscus.

Xanthippe:
How could this happen?
I meant to only give him half of my powers
but he's taken nearly all of them.

Socrates:
This ends now.

Xanthippe:
Huh? What kind of being is he?
I've never seen a human with spirit energy
this strong. That's what was jamming my
senses before. Iv'e never heard of a human
with enough strength to break a keido on his
ownand I have never seen a soul reaper weild
such a huge soul sword.

Socrates:
You will pay for hurting my family
you hollow scum!
Feel the wrath of my blade!
</pre>
-->



<p class="obviousProblems">
<!--Nouns, pronouns, verbs, adjective, adverb, conjunctions, interjections, articles, prepositions, punctuation
Subject, predicate, clause, phrase, modifier-->
<pre>

Active
# 	Name 	Pos. 	Ht. 	Wt. 	Age 	Exp. 	College
20 	Adams, Phillip 	CB 	5-11 	195	27	6 	South Carolina State
23 	Alford, Robert 	CB 	5-10 	186	26	3 	Southeastern Louisiana
37 	Allen, Ricardo 	S 	5-9 	186	23	1 	Purdue
95 	Babineaux, Jonathan 	DT 	6-2 	300	33	11 	Iowa
59 	Bartu, Joplo 	LB 	6-2 	230	26	3 	Texas State
44 	Beasley, Vic 	OLB 	6-3 	246	23	R 	Clemson
71 	Biermann, Kroy 	DE 	6-3 	255	30	8 	Montana
5 	Bosher, Matt 	P 	6-0 	208	27	5 	Miami (Fla.)
53 	Bradford, Allen 	LB 	5-11 	235	27	5 	USC
3 	Bryant, Matt 	K 	5-9 	203	40	14 	Baylor
65 	Chester, Chris 	G 	6-3 	303	32	10 	Oklahoma
99 	Clayborn, Adrian 	DE 	6-3 	280	27	5 	Iowa
26 	Coleman, Tevin 	RB 	6-1 	210	22	R 	Indiana
32 	Collins, Jalen 	CB 	6-1 	203	22	R 	LSU
42 	DiMarco, Patrick 	FB 	6-1 	234	26	4 	South Carolina
52 	Durant, Justin 	LB 	6-1 	230	30	9 	Hampton
24 	Freeman, Devonta 	RB 	5-8 	206	23	2 	Florida State
30 	Godfrey, Charles 	S 	5-11 	210	29	8 	Iowa
93 	Goodman, Malliciah 	DE 	6-4 	276	25	3 	Clemson
66 	Gradkowski, Gino 	C 	6-3 	300	26	4 	Delaware
77 	Hageman, Ra'Shede 	DT 	6-6 	318	25	2 	Minnesota
85 	Hankerson, Leonard 	WR 	6-2 	211	26	5 	Miami (Fla.)
16 	Hardy, Justin 	WR 	5-10 	192	23	R 	East Carolina
72 	Harris, Bryce 	T 	6-6 	300	26	4 	Fresno State
47 	Harris, Josh 	LS 	6-1 	224	26	4 	Auburn
36 	Ishmael, Kemal 	S 	6-0 	206	24	3 	Central Florida
94 	Jackson, Tyson 	DE 	6-4 	296	29	7 	LSU
97 	Jarrett, Grady 	DT 	6-0 	305	22	R 	Clemson
11 	Jones, Julio 	WR 	6-3 	220	26	5 	Alabama
67 	Levitre, Andy 	G 	6-2 	303	29	7 	Oregon State
75 	Long, Jake 	T 	6-7 	322	30	8 	Michigan
70 	Matthews, Jake 	T 	6-5 	305	23	2 	Texas A&M
81 	Moeaki, Tony 	TE 	6-3 	252	28	6 	Iowa
25 	Moore, William 	S 	6-0 	221	30	6 	Missouri
68 	Person, Mike 	G 	6-4 	300	27	5 	Montana State
56 	Reed, Brooks 	OLB 	6-3 	254	28	5 	Arizona
12 	Renfree, Sean 	QB 	6-5 	225	25	3 	Duke
2 	Ryan, Matt 	QB 	6-4 	217	30	8 	Boston College
50 	Schofield, O'Brien 	OLB 	6-3 	242	28	6 	Wisconsin
73 	Schraeder, Ryan 	T 	6-7 	300	27	3 	Valdosta State
96 	Soliai, Paul 	NT 	6-4 	345	31	9 	Utah
22 	Southward, Dezmen 	CB 	6-2 	210	24	2 	Wisconsin
62 	Stone, James 	C 	6-3 	291	23	2 	Tennessee
54 	Stupar, Nate 	LB 	6-2 	240	27	3 	Penn State
83 	Tamme, Jacob 	TE 	6-3 	230	30	8 	Kentucky
27 	Therezie, Robenson 	S 	5-9 	212	24	R 	Auburn
80 	Toilolo, Levine 	TE 	6-8 	265	24	3 	Stanford
21 	Trufant, Desmond 	CB 	6-0 	190	25	3 	Washington
33 	Ward, Terron 	RB 	5-7 	201	23	R 	Oregon State
14 	Weems, Eric 	WR 	5-9 	195	30	9 	Bethune-Cookman
84 	White, Roddy 	WR 	6-0 	211	33	11 	Alabama-Birmingham
15 	Williams, Nick 	WR 	5-10 	184	24	2 	Connecticut
55 	Worrilow, Paul 	LB 	6-0 	230	25	3 	Delaware
Reserve/Injured
# 	Name 	Pos. 	Ht. 	Wt. 	Age 	Exp. 	College
	Asamoah, Jon 	G 	6-4 	305	27	6 	Illinois
86 	Gardner, Beau 	TE 	6-4 	240	25	R 	Northern Arizona
92 	Havili-Heimuli, Ricky 	NT 	6-4 	314	24	1 	Oregon
33 	Howard, Travis 	CB 	6-1 	200	25	2 	Ohio State
39 	Mooney, Collin 	FB 	5-10 	238	29	3 	Army
Practice Squad
# 	Name 	Pos. 	Ht. 	Wt. 	Age 	Exp. 	College
49 	Akunne, Derek 	LB 	6-0 	242	22	R 	North Texas
89 	Byrd, LaRon 	WR 	6-4 	230	26	4 	Miami (Fla.)
35 	Edwards, Jahwan 	RB 	5-9 	220	23	R 	Ball State
63 	Garland, Ben 	G 	6-5 	308	27	2 	Air Force
89 	Jensen, Marcel 	TE 	6-6 	270	25	2 	Fresno State
28 	King, Akeem 	CB 	6-3 	212	23	R 	San Jose State
90 	Maponga, Stansly 	OLB 	6-2 	265	24	3 	TCU
74 	Mbu, Joey 	NT 	6-3 	313	22	R 	Houston
8 	Simms, Matt 	QB 	6-3 	210	27	3 	Tennessee
41 	Starr, Tyler 	LB 	6-5 	250	24	2 	South Dakota
Reserve/Physically Unable to Perform
# 	Name 	Pos. 	Ht. 	Wt. 	Age 	Exp. 	College
76 	Holmes, Lamar 	T 	6-6 	333	26	4 	Southern Miss
Reserve/Injured; Designated for Return
# 	Name 	Pos. 	Ht. 	Wt. 	Age 	Exp. 	College
17 	Hester, Devin 	WR 	5-11 	190	32	10 	Miami (Fla.)


REGULAR

    1 Sep 14 WIN Eagles 24 Falcons 26 GAME DAY
    2 Sep 20 WIN AT Falcons 24 Giants 20 GAME DAY
    3 Sep 27 WIN AT Falcons 39 Cowboys 28 GAME DAY
    4 Oct 4 WIN Texans 21 Falcons 48 GAME DAY
    5 Oct 11 WIN Redskins 19 Falcons 25 GAME DAY
    6 Oct 15 8:25PMEDT * , AT Saints
    7 Oct 25 1:00PMEDT ) AT Titans
    8 Nov 1 1:00PMEST ) Buccaneers
    9 Nov 8 4:05PMEST ) AT 49ers
    10 BYE
    11 Nov 22 1:00PMEST * Colts
    12 Nov 29 1:00PMEST ) Vikings
    13 Dec 6 1:00PMEST ) AT Buccaneers
    14 Dec 13 1:00PMEST ) AT Panthers
    15 Dec 20 1:00PMEST ) AT Jaguars
    16 Dec 27 1:00PMEST ) Panthers
    17 Jan 3 1:00PMEST ) Saints

PRESEASON

    1 Aug 14 WIN Titans 24 Falcons 31 GAME DAY
    2 Aug 21 LOSS AT Falcons 22 Jets 30 GAME DAY
    3 Aug 29 LOSS AT Falcons 9 Dolphins 13 GAME DAY
    4 Sep 3 WIN Ravens 19 Falcons 20 GAME DAY
</pre>
<br /><br />


</p>

<p class="hiddenNeeds">

<br /><br />

</p>


<p class="admiralQualities">

<br /><br />

</p>

<p class="incitingIncident">

<br /><br />

</p>

<p class="badObstacle">

<br /><br />
</p>

<p class="worseObstacle">
<br /><br />
</p>

<p class="worstObstacle">
<br /><br />
</p>

<p class="insufficientHelp">
<br /><br />
</p>
<p class="epiphanyForProtagonist">
<br /><br />
</p>

<p class="changeCausingHope">
<br /><br />
</p>

</div>
<!--
<iframe width="560" height="315" src="https://www.youtube.com/embed/4dr5lN1jqRE?rel=0&autoplay=0&showinfo=0&modestbranding=1;autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
-->
{% endblock content %}
