{% extends "mijnhuis.html" %}
{% block title %}Real Logic{% endblock title  %}
{% block head %}
    {{ super() }}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<style>
.important {
    color: black;
}
body {
    background: white;
}
</style>
{% endblock head %}
{% block content %}
<div class="story">
<h1>#2: The Real Art of Logic</h1>
<p class="introductionOfProtagonist">

</p>

<p class="obviousProblems">

<br /><br />


</p>

<p class="hiddenNeeds">

</p>


<p class="admiralQualities">

</p>

<p class="incitingIncident">


<p class="badObstacle">

</p>

<p class="worseObstacle">

</p>

<p class="worstObstacle">

</p>

<p class="insufficientHelp">

</p>
<p class="epiphanyForProtagonist">

</p>

<p class="changeCausingHope">

</p>

</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xIs9gJuD_Oo?rel=0&autoplay=0&showinfo=0&modestbranding=1;autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
{% endblock content %}
