<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p>
<h3>The Preamble: Why you need to read this.</h3>
Tuesday, March 31st, 2015<br />

On an everyday basis since we came to life on this Earth, a thing best named Propaganda, in its mulitude of forms and
outlets, has insulted our intelligence in several severe and unchecked ways.
    </p>
    <p>
        <h3>In The Beginning: </h3>
        <p>
            <ol start="0">
<li>In the beginning, a Great Black Entity -- GBE -- appeared near Earth; it was either sent by a certain group of
beings or it, in a way beyond our comprehension, created itself (either way the origin of the GBE is beyond the scope
of this document).
</li>
<li>The GBE </li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
            </ol>

        </p>
    </p>
<form id="Person" action="">
      <fieldset>
        <legend>Personalia:</legend>
        <label for="name">Name: </label><input id="name" type="text" /><br />
        <label for="email">Email: </label><input id="email" type="text" /><br />
        <label for="dob">Date of birth: </label><input id="dob" type="text" /><br />
        <label for="gender">Gender: </label><input id="gender" type="text" />
      </fieldset>
    </form>
    <p>
    https://www.youtube.com/watch?v=LOdNf_JsGPA
    Inspired by The<a href="https://genographic.nationalgeographic.com/human-journey/"> G. Project</a>
    </p>
</body>
</html>
