{% extends "mijnhuis.html" %}
{% block title %}Logic{% endblock title %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}
{% block content %}
    <center>
    <h2 class="important">Introduction to Logic</h2></center>
    <p>Mentalism, as defined by the New Oxford American Dictionary, is "the theory that physical and psychological phenomema
    are only explicable in terms of a creative and interpretive mind."</p>
    <p>Enter deductive reasoning. It is also known as critical thinking. We could simply call it thinking and it will
    serve as our primary set of tools for "creating" and "interpreting" whether things are wrong or right.
    What creative person do you know who creates without the use of some tools? The main tool that all creative persons
    use is the mind. (Mentalism is starting to "look" like a valid theory,
    one worth seriously considering.)</p>
    <p>thinking can quickly spiral out of control. It's really not much different
    from a car or some other powerful tool that, if left unattended and on, something dramatic is bound to occur. We
    have to introduce some philosophy to our thinking to keep a hold of it:
    <ul>
        <li>What's important? What really matters?</li>
        <li>How does thinking affect other subjects?</li>
        <li>The state of trying to decide what's best is "awkwardly" called an argument.</li>
        <li>How can we reliably test for the truth?</li>
        <li>What is logic and how can we determine what's logically strong/weak?</li>
        <li>How can we remain relevant?</li>
        <li>How do we keep from going back and forth forever (circularity)?</li>
        <li>Weird words: argument, critical, valid, sound, antecedent ("A"), consequent("...then what?...")</li>
        <li>Test for: Truth, Logical Strength, Relevance, and Non-Circularity</li>
    </ul>
    </p>

    <p>An argument is not always yelling back and forth nor is it in any way about violence. It can be a series of
    statements, premises (propositions: somethings that can be either true or false) and conclusions (a supposed result
    of stacked premises, i.e. "It's cold, the wind is blowing, therefore if we go outside we may need a jacket to stay
    warm").</p>
    <p>Critical does not have to mean mean-spirited or annoying. It can mean being able to separate yourself
    from a subject far enough enough to be objective. It's not always possible.</p>
    <p>Valid is not something to label everything with like some psychologists or partners might say,
    "Everybody's feelings are valid." Valid deals with how an argument is structured.</p>
    <p>Sound can mean that if an argument is structured correctly and all of its premises are true then it is
    a sound argument.</p>
    <p>Antecedent can stand for a condition that might be met and consequent stands for an expected result if or when
    the antecedent is true.</p>
    <p>"Circular reasoning works because circular reasoning works" is why it does not work.</p>
    <p>Declarative statements: Affirming Antecedents -- If A, then B. A. Therefore, B; Denying the Consequent --
    If A, then B. Not B. Therefore, not A; Disjunctive Syllogism -- Either A, or B. Not A. Therefore, B.</p>
    <p>Applying a generalization -- All A are B. C is an A. Therefore, C is B; Applying an exception -- All A are B.
    X is not B. Therefore, X is not A. </p>
    <p>The power of "only": its position in a sentence changes the meaning drastically</p>
    <p>transivity</p>
    <p>reflexivity</p>
    <p>Fallacies: Affirming the Consequent -- If A, then B. B. Therefore, A; Denying the Antecedent --
    If A, then B. Not A. Therefore, not B.</p>
    <p></p>
    <p></p>


<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9DN33W3UJFLG6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</center>

    </p>
{% endblock content %}