{% extends "mijnhuis.html" %}
{% block title %}English{% endblock title %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    table, th, td { border: 1px solid black; }
  </style>
{% endblock head %}
{% block content %}
<div class="ad">
 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=691227&bid=1721702" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code -->
</div>
<center>
    <p>
        <a href="https://api.instagram.com/oauth/authorize/?client_id=3f951d8fad4744389d2df6d387d7420d&redirect_uri=http://www.real-artist-tree.org&response_type=code">
        <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11055517_1412935192345778_1672203455_n.jpg" width="160em" alt="The Bridge" style="width:160;height:160;"/>
        </a><br />
        The first course of the Liberal Arts by T&aacute;v is Grammar.
    </p></center>
    <p>
        For the sake of propriety, let's briefly define two basic concepts:
        <ol>
            <li>thing - an object (any idea, notion or fact of reality) that does not need or does not have a specific name.</li>
            <li>word - a single distinct meaningful element in speech or writing; a single distinct conceptual unit of language</li>
        </ol>
    </p>
    <h2><center>The 9 or 10 Parts of English Speech:</center></h2>
    <p class="important">
        <table>
            <th>Part 1: The Noun</th><td><center>a word used to name a thing </center></td>
                <tr><th>Abstract ...</th><td>nouns name nonmaterial things such as ideas, qualities, and concepts.</td></tr>
                  <tr><th>Concrete ...</th><td></td></tr>
                    <tr><th>Common ...</th><td></td></tr>
                      <tr><th>Proper ...</th><td></td></tr>
                        <tr><th>Countable ...</th><td></td></tr>
                          <tr><th>Uncountable ...</th><td></td></tr>
                            <tr><th>Gendered ...</th><td></td></tr>
                              <tr><th>Collective ...</th><td></td></tr>
                                <tr><th>Appositive ...</th><td></td></tr>
                                  <tr><th>Gerund ...</th><td></td></tr>
                                    <tr><th>Infinitive ...</th><td></td></tr>
                    </table>
            <li>Pronoun<ol>
                <li>Demonstrative</li>
                  <li>Indefinite</li>
                    <li>Intensive</li>
                      <li>Interrogative</li>
                        <li>Objective</li>
                          <li>Personal</li>
                            <li>Possessive</li>
                              <li>Reflexive</li>
                                <li>Relative</li>
                                  <li>Subjective</li>
                       </ol></li>
            <li>Verb <ul>Person
                       <li>1st</li><li>2nd</li><li>3rd</li>
                     </ul>
                     <ul>Number
                        <li>Singular</li>
                        <li>Plural</li>
                     </ul>
                     <ul>Mood
                         <li>Indicative</li>
                         <li>Imperative</li>
                         <li>Subjunctive</li>
                     </ul>
                     <ul>Voice
                         <li>Active</li>
                         <li>Passive</li>
                     </ul>
                     <table>
                     <tr>
                     <th><h2><em>3 Tenses; 4 Forms</em></h2</th>
                       <th>Simple Form -<br /> indicates past, present or future action</th>
                         <th>Perfect Form -<br /> indicates a completed action at some point in time</th>
                           <th>Progressive Form -<br /> indicates action that continues for some period of time</th>
                             <th>Perfect Progressive Form -<br /> indicates when these named powers combine!</th>
                     </tr>
                     <tr><td>Past Tense</td>
                           <td>looked</td>
                             <td>had looked</td>
                               <td>were looking</td>
                                 <td>had been looking</td></tr>
                     <tr><td>Present Tense</td>
                           <td>look</td>
                             <td>have looked</td>
                               <td>are looking</td>
                                 <td>have been looking</td></tr>
                     <tr><td>Future Tense</td>
                           <td>will look</td>
                             <td>will have looked</td>
                               <td>will be looking</td>
                                 <td>will have been looking</td></tr>
                     </table>
                    <ol>
                <li>Regular</li>
                  <li>Irregualar</li>
                    <li>Transitive</li>
                      <li>Intransitive</li>
                        <li>Linking</li>
                          <li>Auxillary</li>
                            <li>Compound</li>
                              <li>Modal</li>
                                <li>Infinitive</li>
                    </ol></li>
            <li>Adjective & Article</li>
            <li>Adverb</li>
            <li>Conjunction</li>
            <li>Interjection (Exclamation)</li>
            <li>Preposition</li>
            <li>Punctuation</li></strong>
        </ul>
    </p>


<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9DN33W3UJFLG6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</center>
    <p>
        Recommended Links on the Subject:
        <ul>
            <li>Enter:<a href="http://english.stackexchange.com"> The English StackExchange</a></li>
            <li>Word History: <a href="http://www.etymonline.com">Online Etymology Dictionary</a></li>
            <li>Serious Question:<a href="http://trickedbythelight.com/tbtl/language.shtml"> Is English Witchcraft?</a></li>
        </ul>
    </p>
{% endblock content %}